.profile {
max-width: 880px;
min-height: 120px;
margin: 40px auto 51px;
display: flex;
justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 36px;
    }
}