.header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-top: 7px;
}

.header__link:hover {
    cursor: pointer;
    opacity: .6;
}