.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 336px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.profile__description:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
.profile__description {
    max-width: 100%;
    margin: 14px auto 36px;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
}    
}