.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: cover;
    transition: opacity, .5s, linear;
    z-index: 0;
}

.profile__avatar:hover {
    opacity: 0.5;
    cursor: pointer;
}