.popup__input-error {
    padding: 5px 0 0;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    min-height: 30px;
    visibility: hidden;
    border-top: 1px solid rgba(255, 0, 0, 1);
}